dist/
www/
loader/

.stencil/
.idea/
.vscode/
node_modules/
.DS_Store
.env

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.yarn/install-state.gz
examples/sveltekit/.yarn/install-state.gz
examples/sveltekit-kitchen-sink/.yarn/install-state.gz